@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
  background-color: #383838;
  margin: 0;
  line-height: 1.6;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #3F51B5;
  --extended-color: #9C27B0;
  --inline-color: #FFEB3B;
  --success-color: #19887E;  
  --inactive-color: #cdcdcd;
}